---
title: 
---
.content
  #chart
  %h1 Produktion per BL (Verteilung per BL)
  #overall-production
  #stacked
  %h1 Produktion per BL (Prozent an der Gesamtproduktion)
  #map-germany

  #stacked-typ
  - data.energy.top5.each do |e|
    = partial "partials/single-production.html", locals: { production: e }


%script(id="map-popup" type="text/x-handlebars-template")
  <div class='title'>
  <h4>{{name}}</h4>
  </div>
  <div class='details'>
  <h5>{{dataCount}}</h5>
  </div>
