---
title: 
---
.content
  %h1 Energieproduktion in Deutschland
  %h2 Wo wird welche Energie in Deutschland produziert.
  %h3 Produktionsvolumen nach Energietyp in Megawatt.
  #map-germany.map

  - data.energy.top5.each do |e|
    = partial "partials/single-production.html", locals: { production: e }
#map-tooltip
%script(id="map-popup" type="text/x-handlebars-template")
  <div class='title'>
  <h4>{{name}}</h4>
  </div>
  <div class='details'>
  Gesamtenergieproduktion: {{gesamt}} mWh
  <ul class="types">
  {{#energy}}
  <li>{{Typ}}, {{Produktionsvolumen}} mWh</li>
  {{/energy}}
  </div>
