---
title: 
---
.content
  #chart
  %h1 Produktion per BL (Verteilung per BL)
  #stacked
  %h1 Produktion per BL (Prozent an der Gesamtproduktion)
  #stacked-typ

%script(id="tooltip" type="text/x-handlebars-template")
  <div class='title'>
  <h4>{{name}}</h4>
  </div>
  <div class='details'>
  <h5>{{dataCount}}</h5>
  </div>
